.mainPageContainer{
    background-image : url('../images/mainPageBackground.gif');
    min-height: 87vh;
    background-attachment: fixed;
}



/* Header */
/* -------------------------------------- */

.main-header{
    border-bottom : 1px solid cornsilk;
    font-family: 'Baloo Thambi', cursive;
    /* font-family: 'Indie Flower', cursive; */
    min-height: 8vh;
}

.main-header .col-5{
    justify-content: flex-end;
    align-items: center;
    padding : 0 30px 0 0 ;
}

.main-header .col-7{
    padding: 0 0 0 70px;
}

.main-header .col-7 h1{
    height: 100%;
    display:flex;
    align-items: center;
}

.main-header a:not(.linkToMainPage){
    margin-right: 15px;
    color: cornsilk;
    font-size: 17px;
    border : 1px solid cornsilk;
    box-shadow: 0px 0px 1px 1px cornsilk;
    border-radius : 8px;
    padding: 5px 15px;
    
}

.main-header a:not(.linkToMainPage):hover{
    background-color: rgba(255,255,255,0.2);
}

.linkToMainPage{
    color: cornsilk;
}
.linkToMainPage:hover{
    color: cornsilk;
    text-decoration: none;
}

/* Main page content */
/* -------------------------------------- */
.mainPageContent{
    width:100%;
    min-height:100%;
    background-color: rgba(252, 190, 3,0.7);
}

.mainPageContent .loginCol, .registerCol{
    margin-top : 100px;
}

.mainPageContent form.registerForm, form.loginForm{
    box-shadow: 1px 1px 15px 0px #595959;
}

.beginButton{

}

/* Footer */
/* ---------------------------------------- */
.footer{
    height: 5vh;
    background-color: #151515;
}


/* Welcome page */

.welcomePage h1{
    font-size: 50px;
}

h1.hlogo{
    font-size: 70px;
}

.welcomePage a{
    color: #262626;
    font-size: 17px;
    border : 2px solid #fff;
    padding: 10px 20px;
    border-radius : 8px;
    background-color: #fff;
    width: 200px;
    text-align: center;

}

.welcomeSection{
    background-image: url('../images/mainSectionBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:90vh;
    width:70%;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
   
}

.betweenSection{
    min-height:50vh;
    background-color: rgba(255,255,255,0.8);
}

