/* Letter spacing */
/* ------------------------------------------- */

.letter-spacing-2{
    letter-spacing: 5px;
}

.letter-spacing-5{
    letter-spacing: 5px;
}

.letter-spacing-7{
    letter-spacing: 5px;
}

.letter-spacing-9{
    letter-spacing: 5px;
}

/* Height */
/* ------------------------------------------- */
.height-5{
    height: 5vh;
}

.height-8{
    height: 8vh;
}
.height-10{
    min-height: 10vh;
}

.height-15{
    height:15vh;
}
.height-20{
    height: 20vh;
}
.height-75{
    height: 75vh;
}
.height-80{
    height: 80vh;
}
.height-50{
    height: 50vh;
}
.height-100{
    height: 100vh;
}

.width-100{
    min-width:100%;
}

/* Colors */
/* ------------------------------------------- */

.f-color-cornsilk{
    color : cornsilk;
}

.f-color-dark{
    color: #262626;
}

/* Background colors */
.bgc-a-light{
    background-color: rgba(255,255,255,0.7);
}
/* ------------------------------------------- */
/* Display flex */
/* ------------------------------------------- */

.flex-center{
    display:flex;
    justify-content: center;
    align-items:center;
}

.flex-a-center{
    display:flex;
    align-items:center;
}

.flex-j-center{
    display:flex;
    justify-content:center;
}

/* Border radius */
.radius-5{
    border-radius : 5px;
}

.radius-10{
    border-radius : 10px;
}

.radius-15{
    border-radius : 15px;
}

/* Animations */

.a-d-1{
    animation-duration: .1s;
}
.a-d-2{
    animation-duration: .2s;
}

.a-d-3{
    animation-duration: .3s;
}

.a-d-4{
    animation-duration: .4s;
}

.a-d-5{
    animation-duration: .5s;
}