:root {
    --header-color : #cca300;
    --container-color : #dda702;
    --days-color : #ca9802;
}


.sheduleContainer{
    font-family: 'Modern Antiqua', cursive;
    display:grid;
    grid-template-areas: 'list list list container container container container container container container container container';
    width:100%;
    margin: 0px auto 0 auto;
    column-gap: 10px;
    position: relative;

    
}

.listContainer{
    grid-column: list;
    /* background-color: #00407B; */
    background-color: var(--container-color);
    /* box-shadow: 0px 0px 10px 2px #262626; */
}

.listHeader{
    background-color: var(--header-color);
    color: cornsilk;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid cornsilk;
}

.listTitle{
    /* background-color: rgb(255,51,51); */
    color: cornsilk;
    padding: 8px 0;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.sheduleList{
    color:cornsilk;
    display:flex;
    flex-direction: column;
    min-width: 300px;

}

.sheduleListItem{
    width:90%;
    margin: 10px auto 10px auto;
    padding: 16px 8px;
    /* background-color: #001133; */
    background-color: #004B8F;
    box-shadow: 0px 0px 5px #001133;
    color: cornsilk;
    text-align:center;
    /* border-radius: 5px; */
    cursor:pointer;
    transition: .4s ease;
}

.sheduleListItem:hover{
    background-color: #001133;
    /* box-shadow: 0px 1px 4px white; */
}

.calendarContainer{
    grid-column: container;  
    position:relative;
    /* box-shadow: 0px 0px 10px 2px #262626;  */
}

.calendarContainerHeader{
    /* background-color: #003567; */
    background-color: var(--header-color);
    display:flex;
    padding: 7px 0 7px 0;
    font-size: 25px;
    color: cornsilk;
    align-items: center;
}

.previousMonth, .nextMonth{
    display:flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    background-color: cornsilk;
    border-radius: 50%;
    color: #262626;
    font-size: 15px;
    cursor:pointer;
    transition: .4s ease;
}
.previousMonth{
    margin-left: 10px; 
}

.previousMonth:hover , .nextMonth:hover{
    background-color: #00ccff;
   
}



.currentMonth{
    width:150px;
    text-align:center;
    font-weight:bold;
}

.calendarContainerHeader div{
    margin-right: 10px;
}


.changeMonth{
    display:flex;
    padding: 5px 0 5px 0;
    color: cornsilk;
    font-size: 25px;
}

.calendarHeader{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap:5px;
    /* margin-bottom: 10px; */
    background-color: #262626;
    color: cornsilk;
    font-size:20px;
    padding: 8px 25px;
 
}

.dayTitle{
    text-align:center;
}

.calendar{
    position:relative;
}

.calendarBody{
  
    display:grid;
    grid-template-columns: repeat(7, auto);
    grid-row-gap:20px;
    justify-items: center;
    /* background-color: #00407B; */
    background-color: var(--container-color);

    padding: 10px 25px;
   
}

.dayItem{
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height:62px;
    background-color: #262626;
    color:cornsilk;
    transition: .2s ease;
    cursor:pointer;
    font-size:20px;
    /* background-color: #004585; */
    background-color: var(--days-color );
    /* border: 2px solid #004585; */
    border: 2px solid var(--days-color );
}

.dayItemIsEvent{
    background-color: goldenrod;
}
.dayItemNone{
    background-color: gray;
}
.dayItem:hover{
   
    background-color: #003399;
    box-shadow: 0px 0px 0px 10px lightblue;
    
}

.activeDay{
    
    /* background-color: #003399; */
    box-shadow: 0px 0px 0px 10px lightblue;
}


.trainingDetails{
    position:absolute;
    width:100%;
    height:100%;
    background-color: #003567;
    animation-duration: .4s;
    z-index: 100000;
    color: white;
    /* padding: 10px; */
    border-top: 1px solid cornsilk;

}
.trainingDetailsHeader{
    position:relative;
    bottom: 0;
    display:flex;
    justify-content: flex-end;
}

.hideTrainingDetails{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background-color: none;
    cursor: pointer;
    transition:.3s ease;
    color:white;
    font-size: 25px;
    border-radius: 5px;
    

}

.hideTrainingDetails:hover{
    background-color: red;
}


.trainingContentTitle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #001133;
}

.trainingSheduleContentMain{
    display:flex;
    justify-content: center;
    margin-top:10px;
}

.trainingDescription{
    grid-area: description;
   
}
.trainingDescription p{
    text-align: left;
    font-size: 30px;
   
}

.sheduleLittleTitle{
background-color: #003474;
padding: 8px;
font-size: 20px;
text-align: center;
}

.trainingSheduleDetails{
    display:flex;
    justify-content: center;  
    width:45%;
}

.trainingDetailsList{
    list-style: disc;
    margin-top:0;
    padding-top:0;
}

.trainingDetailsList li{
    border:none;
    font-size: 25px;
    padding-left:0;
}

.trainingDuration, .trainingPrice{
    background-color: #262626;
    margin-bottom: 10px;
    width:90%;
}
.trainingDuration{
    grid-area: duration;
}

.trainingPrice{
    grid-area: price;
}


.trainingContent .littleSpinner{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%);
    
}

.trainingPrimaryData ,.sheduleUserData, .trainingDuration, .trainingPrice{
    font-size:20px;
    text-align:left;
    padding: 8px 20px;
    /* background-color:  #2B3665; */
    margin-top:5px;
    /* box-shadow: 0px 4px 5px #003B71; */
}

.sheduleUserData{
    margin-top: 15px;
    padding: 8px 40px;
}

.trainingDescription{
    
    text-align: left;
    font-size: 20px;
  
   
}

.sheduleMainDescription{
    /* padding-left:16px; */
    width:45%;

}

.trainingDetailsButtons{
    position:relative;
    bottom: -18%;
    right:1%;
}